<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jep.learning"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.jep.learning.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.jep.learning.TutorialDetailActivity"
            android:label="@string/title_activity_tutorial_detail"
            android:parentActivityName="com.jep.learning.TutorialsActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jep.learning.TutorialsActivity" />
        </activity>
        <activity
            android:name="com.jep.learning.TutorialsActivity"
            android:label="@string/title_activity_main"
            android:parentActivityName="com.jep.learning.MainActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jep.learning.MainActivity" />
        </activity>
        <activity
            android:name="com.jep.learning.QuizzesActivity"
            android:label="@string/title_activity_quizzes"
            android:parentActivityName="com.jep.learning.MainActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jep.learning.MainActivity" />
        </activity>
        <activity
            android:name="com.jep.learning.QuestionActivity"
            android:label="@string/title_activity_question"
            android:parentActivityName="com.jep.learning.QuizzesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jep.learning.QuizzesActivity" />
        </activity>
        <activity
            android:name="com.jep.learning.QuizResultActivity"
            android:label="@string/title_activity_quiz_result"
            android:parentActivityName="com.jep.learning.QuestionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jep.learning.QuestionActivity" />
        </activity>
        <activity
            android:name="com.jep.learning.MainAccountActivity"
            android:label="@string/title_activity_main_account" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jep.learning.OpenAccountActivity"
            android:label="@string/title_activity_account_list"
            android:parentActivityName="com.jep.learning.MainAccountActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jep.learning.MainAccountActivity" />
        </activity>
        <activity
            android:name="com.jep.learning.CreateAccountActivity"
            android:label="@string/title_activity_create_account"
            android:parentActivityName="com.jep.learning.MainAccountActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jep.learning.MainAccountActivity" />
        </activity>
    </application>

</manifest>